body{
    background: linear-gradient(135deg, rgb(147, 4, 4), rgb(5, 5, 170));
    font-family: 'Times New Roman', Times, serif  ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0%;

}


.contenedor {
    background: linear-gradient(135deg, rgb(180, 4, 4), rgb(68, 68, 182));
    color: white;
    padding: 30px;
    border-radius: 15px;
    width: 320px;
    display: flex;
    text-align: center;
    justify-content: center;
    border: none;
    box-shadow: 2px 4px 4px 0.2px black;
}

.contenedor:hover{
    background-color: rgba(75, 75, 218, 0.103);
}
button{
    font-size: 16px;
    border-radius: 8px;
    padding: 10px 15px;
    margin: 10px 5px;
    border: none;
    background: linear-gradient(135deg, red, blue);
    color: white;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}

button:hover{
    transform: scale(1.1);
    border-style: solid;
    border-color: darkgoldenrod;
}

input{
    border: solid;
    border-color: rgb(255, 229, 165);
    border-radius: 10px;
    height: 25px;
    width: 200px;
    background-color: #ffd6cf91;
}


input:hover{
    background-color: #e3dff51f;
}

h1{
    font-size: 28px;
    color: #ffffff;
    margin-bottom: 20px;
 
}

h1:hover{
    color: rgb(250, 232, 195);
}

label:hover{
    color: rgb(250, 232, 195);
}

p, label{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #ffffff;
    display: block;
    margin-top: 10px;
    text-align: left;
}

select, option{
    border: solid;
    border-color: rgb(255, 229, 165);
    border-radius: 10px;
    height: 25px;
    width: 200px;
    background-color: #ffd6cf91;
}
